body {
    color: white;
}

.red-button {
    display: inline-block;
    font-size: 32px;
    background-color: brown;
    color: aliceblue;
    border: 2px solid #c0392b
}
        
.red-button {
    background-color: black;
}