body {

    background:image ("OI.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 10px 20px;
    color: white;
}

.red-button {
    position: fixed;
    top: 0%;
    display: inline-block;
    font-size: 32px;
    background-color: brown;
    color: aliceblue;
    border: 5px solid #c0392b
}
        
.red-button {
    background-color: black;
    margin-rigth: 1.41cm;
}